@font-face {
  font-family: 'eraserregular';
  src:url('../fonts/Eraser/eraserregular.woff2') format('woff2'),
      url('../fonts/Eraser/eraserregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

label{
  display: none;
}
.table{
text-align: center;
position: relative;

}
#user{
  margin-top: -20px;
  width: 700px;
}
#invite{
  width: 700px;
}

#calendar{
  font-size: 25px;
  margin-bottom: 0;

}

span{
  color: white;
  text-align: center;
}
#date{
  margin-left:60px;
  width: 320px;
}
#time{
  margin-left:23px;
}
input{

  border: none;
  font-size:30px;
  background-color: transparent;
  color: white;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  font-family: 'eraserregular';
  // &:-webkit-autofill{
  //   color: white !important;
  //   background-color: transparent !important;
  // }
  &:hover{
    transform: scale(1.15)
  }
  &:focus{
    background-color: transparent;
  }
  &::placeholder{
    color: white;
    font-family: 'eraserregular';
    font-size: 40px;
  }
  &:active{
    font-family: 'eraserregular';
  }
}



#formBtn{
  border: none;
  background-color: transparent;
  font-family: 'eraserregular';
  font-size: 40px;
  color: white;
  cursor: pointer;
  &:hover{
    transform: scale(1.1)
  }
}