@import "cv";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#userData {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  width: 35%;
  min-width: 200px;
  input {
    min-width: 100%;
    margin: 0;
  }
  div {
    button {


    }
  }
}

#usrDataAdding {
flex-grow: 1;
  margin-left: 10%;
}

.formParent {
  height: 100vh;
  width: 100vw;
  display: flex;
  font-size: 20px;
}

.form {
  background-color: #9DC3C1;
  font-family: 'Berkshire Swash', cursive;
  min-width: 100vw;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  border: 2px solid #6E7783;
  border-radius: 5%;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: space-around;


}

span {

}

input {
  margin: 10px;
  font-size: 24px;
  height: 2em;
  font-family: 'Berkshire Swash', cursive;
}

.button {
  border: none;
  width: 100px;

  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #77AAAD;
  color: #6E7783;
  font-family: 'Berkshire Swash', cursive;
  line-height: 2.5em;
  height: 3em;

}

select {
  font-family: 'Berkshire Swash', cursive;
  line-height: 2.5em;
  font-size: 20px;
}

.button:hover {
  background-color: #6E7783;
  color: #D8E6E7;
  transition: 0.5s all;
}

label {
  display: none;
}

#send {
  height: 2em;
  width: 60%;
  font-size: 24px;

}